
body {
    background: #72d2fd;
}

.overide-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    /* background: #fff; */
    top: 0px;
    left: 0px;
}

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.content-anouncement {
    padding: 10px;
    width: 100%;
    background:#e8e8e87d;
    color: #010102;
    background-image: url('../img/bg.png');
}

.title-congrats {
    padding-top: 20px;
    font-size: 18px;
    height: 80px;
    color: #010102;
}

.title {
    padding-top: 20px;
    font-size: 85px;
    height: 80px;
    color: #010102;
}

.akad-title {
    font-size: 30px;
}

.realname1 {
    margin-top: -20px;
    margin-left: 110px;
    float: right;
}

.realname2 {
    margin-top: -20px;
    float: right;
}