doctype html
html.no-js(lang='zxx')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='img/fav.png')
    meta(name='author', content='Colorlib')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(charset='UTF-8')
    title Events | ROHMANWEB
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,400,300,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/assets/themes/events/css/linearicons.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap-4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/themes/events/css/main.css')
    link(rel='stylesheet', href='/assets/themes/events/css/landing.css')
  body
    header.default-header
      .container
        .header-wrap
          .header-top.d-flex.justify-content-between.align-items-center
            .logo
              a(href='/')
                //- img(src='img/logo.png', alt='')
                h3(style="color: #fff;") Events
            .main-menubar.d-flex.align-items-center
              nav.hide
                a(href='/') Home
                a(href='/') Generic
                a(href='/') Elements
              .menu-bar
                span.lnr.lnr-menu
    section.banner-area.relative
      .container
        .row.fullscreen.align-items-center.justify-content-between(style='height: 735px;')
          .col-lg-12
            .banner-content.text-center
              img(src="/assets/themes/events/img/me2.png", alt="", class="rounded-circle img-profile-md")
              h4.text-white.text-uppercase rohman.web.id
              h1.text-uppercase events

script(src='/assets/vendor/jquery-2/jquery-2.2.4.min.js')
script(src='/assets/themes/events/js/main.js')