doctype html
html.no-js(lang='zxx')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href='/assets/themes/rohmanwebid/img/icons/favicon.ico')
    meta(name='author', content='Colorlib')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(charset='UTF-8')
    title Events | ROHMANWEB
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,400,300,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/assets/themes/events/css/linearicons.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap-4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/assets/themes/events/css/main.css')
    link(rel='stylesheet', href='/assets/themes/events/css/wedding.css')
    link(rel='stylesheet', href='/assets/themes/events/css/custom.css')
  body
    header.default-header
      .container
        .header-wrap
          .header-top.d-flex.justify-content-between.align-items-center
            .logo
              a(href='/')
                //- img(src='img/logo.png', alt='')
                //- b Events
            .main-menubar.d-flex.align-items-center
              nav.hide
                a(href='/') Home
                a(href='/') Generic
                a(href='/') Elements
              .menu-bar
                span.lnr.lnr-menu
    section.banner-area.relative
      .container
        .row.fullscreen.align-items-center.justify-content-between(style='height: 735px;')
    .overide-container
      .container
        .row.pad-top100
          include components/wedding/title.pug
          include components/wedding/resepsi.pug
        .row.pad-bottom50
          include components/wedding/pesanpesan.pug
    p.d-block.d-sm-none
     br
     br
    if data.name
      include components/wedding/extras/welcome.pug

script(src='/assets/vendor/jquery-2/jquery-2.2.4.min.js')
script(src='/assets/vendor/bootstrap-4/js/bootstrap.min.js')
script(src='/assets/themes/events/js/main.js')