ons-splitter
  ons-splitter-side(id="categories", side="left", width="220px", collapse, swipeable)
    ons-page
      ons-toolbar
        input(type="search", value="", placeholder="Cari kategori", class="search-input", style="margin: auto;margin-left: 20px;")
      ons-list(id="category-items")
  ons-splitter-content(id="content", page="products.template")