<!DOCTYPE html>
html(lang="en")
    noscript This is your fallback content in case JavaScript fails to load.
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Sentiment | #{title}
        link(rel="stylesheet", href="assets/vendor/bootstrap-4/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/themes/sentiments/css/style.css")
        script(src="assets/vendor/jquery-2/jquery-2.2.4.min.js")
    body
        .container-fluid
            include header.pug
            if active_view == 'wordlist'
                include components/wordlist.pug
            else if active_view == 'patternlist'
                include components/patternlist.pug
            else 
                include components/notfound.pug


        script(src="assets/vendor/bootstrap-4/js/bootstrap.js")
