
.col-md-12
    .content-anouncement.effect8.fonts-chanry.text-center
        | Berilah kami sebuat nasihat untuk kehidupan kami kedepannya,
        | Sehingga kami dapat menjadi keluarga yang lebih baik.
        br
        a(target="blank", href="https://api.whatsapp.com/send?phone=6282332303931", title="Send Me A Message")
            img(src="/assets/themes/events/img/wa.png", width="20")
        | &nbsp;&nbsp;&nbsp;
        a(href="tg://msg?to=+6282332303931", title="Send Me A Message")
            img(src="/assets/themes/events/img/tg.png", width="20")
        | &nbsp;&nbsp;&nbsp;
        a(target="blank", href="https://facebook.com/rohmanwebid001", title="Send Me A Message")
            img(src="/assets/themes/events/img/fb.png", width="20")