
.col-md-6.pad-5-mg-t-5
    .content-anouncement.effect8.mg-b20
        .row
            .col.fonts-chanry.title-congrats
                | Detail Acara:
    .content-anouncement.effect8.mg-b20
        .clearfix
        .row
            .col.fonts-chanry.title-congrats
                span.akad-title Akad Nikah
        .row
            .col.fonts-chanry
                table
                    tr
                        td Tanggal
                        td :
                        td 07 Desember 2018
                    tr
                        td Waktu
                        td :
                        td 08:00 WIB
                    tr
                        td(valign="top") Tempat
                        td(valign="top") :
                        td
                            | Kediaman Mempelai Wanita
                            br
                            | Jalan Tanjungsari gg 2 RT/RW 05/17
                            br
                            | Turen - Malang &nbsp;&nbsp;&nbsp;
                            a(target="blank", href="https://www.google.co.id/maps/place/8%C2%B010'00.3%22S+112%C2%B041'25.4%22E/@-8.1671779,112.6901961,520m/data=!3m1!1e3!4m14!1m7!3m6!1s0x2dd61f5df8a8ad17:0x5343ad4104ac6e95!2sJl.+Panglima+Sudirman+No.124,+Turen,+Malang,+Jawa+Timur+65175!3b1!8m2!3d-8.1673668!4d112.6913993!3m5!1s0x0:0x0!7e2!8m2!3d-8.166749!4d112.6903892", title="Get Direction on Map")
                                img(src="/assets/themes/events/img/map.png", width="20")
        .row
            .col.fonts-chanry.title-congrats
                span.akad-title Resepsi Pernikahan
        .row
            .col.fonts-chanry
                table
                    tr
                        td Tanggal
                        td :
                        td 07 Desember 2018
                    tr
                        td Waktu
                        td :
                        td 10:00 WIB - Selesai
                    tr
                        td(valign="top") Tempat
                        td(valign="top") :
                        td
                            | Kediaman Mempelai Wanita
                            br
                            | Jalan Tanjungsari gg 2 RT/RW 05/17
                            br
                            | Turen - Malang &nbsp;&nbsp;&nbsp;
                            a(target="blank", href="https://www.google.co.id/maps/place/8%C2%B010'00.3%22S+112%C2%B041'25.4%22E/@-8.1671779,112.6901961,520m/data=!3m1!1e3!4m14!1m7!3m6!1s0x2dd61f5df8a8ad17:0x5343ad4104ac6e95!2sJl.+Panglima+Sudirman+No.124,+Turen,+Malang,+Jawa+Timur+65175!3b1!8m2!3d-8.1673668!4d112.6913993!3m5!1s0x0:0x0!7e2!8m2!3d-8.166749!4d112.6903892", title="Get Direction on Map")
                                img(src="/assets/themes/events/img/map.png", width="20")