
.col-md-6.pad-5-mg-t-5
    .content-anouncement.effect8.mg-b20
        .row
            .col.fonts-chanry.title-congrats
                | Detail Acara:
    .content-anouncement.effect8.mg-b20
        .clearfix
        .row
            .col.fonts-chanry.title-congrats
                span.akad-title Akad Nikah
        .row
            .col.fonts-chanry
                table
                    tr
                        td Tanggal
                        td :
                        td 07 Desember 2018
                    tr
                        td Waktu
                        td :
                        td 08:00 WIB
                    tr
                        td(valign="top") Tempat
                        td(valign="top") :
                        td
                            | Kediaman Mempelai Wanita
                            br
                            | Jalan Tanjungsari gg 2 RT/RW 05/17
                            br
                            | Turen - Malang
        .row
            .col.fonts-chanry.title-congrats
                span.akad-title Resepsi Pernikahan
        .row
            .col.fonts-chanry
                table
                    tr
                        td Tanggal
                        td :
                        td 07 Desember 2018
                    tr
                        td Waktu
                        td :
                        td 15:00 WIB - Selesai
                    tr
                        td(valign="top") Tempat
                        td(valign="top") :
                        td
                            | Kediaman Mempelai Wanita
                            br
                            | Jalan Tanjungsari gg 2 RT/RW 05/17
                            br
                            | Turen - Malang