
.col-md-6.pad-5
    .content-anouncement.effect8.mg-b20
        .row
            .col.fonts-chanry.title-congrats
                | Hai ...
                br
                span.invited Kamu Diundang Dalam Acara Pernikahan Kami
    .content-anouncement.effect8.mg-b20
        .row.mg-top100
            .col.fonts-chanry.title.text-left
                | Rohman
        .row
            .col.fonts-chanry.title.text-center
                | &
        .row.pad-bottom60
            .col.fonts-chanry.title.text-right
                | Silvia