
.col-md-6.pad-5
    .content-anouncement.effect8.mg-b20
        .row
            .col.fonts-chanry.title-congrats.text-center
                img(src="/assets/themes/events/img/slm.png", width="80%")
    .content-anouncement.effect8.mg-b20
        .row
            .col.fonts-chanry.title-congrats
                | Dengan Hormat,
                br
                span.invited Atas nama Keluarga Kedua Mempelai, Kami Mengundang Anda
        .row.pad-top30
            .col-md-7.col-xs-10.fonts-chanry.pull-left
                .title Rohman
                span.realname1 Akhmad Abdul Rohman .Amd
        .row
            .col.fonts-chanry.text-center
                .title &
        .row.pad-bottom60
            .col.fonts-chanry.text-right
                .title Silvia
                span.realname2 Silvia Putri Nanda .Amd