section(id="about", class="section section-about wow fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
    div(class="profile")
        div(class="row")
            div(class="col-sm-4")
                div(class="photo-profile")
                    img(src="/assets/themes/rohmanwebid/img/me.png", alt="Akhmad Abdul Rohman", width="200")
                a(href="cv/cv-1.pdf", target="cv")
                    div(class="download-resume")
                        i(aria-hidden="true", class="fa fa-cloud-download")
                        span(class="text-download") DOWNLOAD RESUME
                div(class="available")
                    i(aria-hidden="true", class="fa fa-check")
                    span(class="text-available", style="color: rgb(234, 90, 51);") Available on freelance
            div(class="col-sm-8")
                div(class="info-profile")
                    h3(class="pad0 mg-t10 fs23 color-f35b25 d-block d-sm-none") Akhmad Abdul Rohman
                    span(class="mg-b10 color-f35b25 d-block d-sm-none") web developer &amp; backend developer
                    h2(class="d-none d-sm-block") Akhmad Abdul Rohman
                    h3(class="d-none d-sm-block") web developer &amp; backend developer
                    <p>
                        | Hi, Saya Akhmad Abdul Rohman. Seorang Web Developer
                        | dengan lebih dari 5th pengalaman. Pengalaman dalam
                        | segala situasi dari siklus development untuk
                        | project-project web yang dikerjakan. Saya mempunyai
                        | pengalaman dibeberapa programming diantaranya NodeJS,
                        | PHP, Mysql, HTML5, CSS3, jQuery. Dan background kuat
                        | pada Server &amp; Manajemen tim.
                    </p>
                    div(class="row")
                        div(class="col-sm-12 col-md-6")
                            ul(class="ul-info")
                                li(class="li-info")
                                    span(class="title-info") Age
                                    span(class="info") 24
                                li(class="li-info")
                                    span(class="title-info") Address
                                    span(class="info") Jl. Tebet Barat VIB No. 1
                                li(class="li-info")
                                    span(class="title-info") Email
                                    span(class="info") rohmanmail@gmail.com
                        div(class="col-sm-12 col-md-6")
                            ul(class="ul-info")
                                li(class="li-info")
                                    span(class="title-info") Phone
                                    span(class="info") 0823-3230-3931
                                li(class="li-info")
                                    span(class="title-info") Website
                                    span(class="info") rohman.web.id
                                li(class="li-info")
                                    span(class="title-info") Nationality
                                    span(class="info") Indonesia
                        div(class="col-sm-12 col-md-12", style="padding-top: 100px;")
                            span(class="title-links") Social Links
                            ul(class="ul-social-links")
                                li(class="li-social-links")
                                    a(href="https://facebook.com/rohmanwebid001", target="blank")
                                        i(aria-hidden="true", class="fa fa-facebook")
                                li(class="li-social-links")
                                    a(href="https://twitter.com/rohmanwebid", target="blank")
                                        i(aria-hidden="true", class="fa fa-twitter")
                                li(class="li-social-links")
                                    a(href="https://plus.google.com/+RohmanAhmadGo", target="blank")
                                        i(aria-hidden="true", class="fa fa-google-plus")
                                li(class="li-social-links")
                                    a(href="https://linkedin.com/in/rohmanahmad001", target="blank")
                                        i(aria-hidden="true", class="fa fa-linkedin")