section(id="experience", class="section section-experience wow fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
    div(class="header-section")
        h2(class="h2-section") EDUCATIONS
    div(class="row")
        div(class="col-md-12 col-md-offset-1")
            span(class="icon-experience")
                i(class="fa fa-briefcase")
            div(class="all-experience hidden-xs show-sm show-md show-lg")
                div(class="experience-content")
                    div(class="period-experience")
                        img(src="/assets/themes/rohmanwebid/img/stt.png", alt="STT Malang", width="110")
                    h3(class="specialty-name") Diploma 3
                    h3(class="company-name") Sekolah Tinggi Tehnik Malang
                    p(class="prg-experience") Informatics Engineering
                div(class="experience-content")
                    div(class="period-experience")
                        img(src="/assets/themes/rohmanwebid/img/stt.png", alt="STT Malang", width="110")
                    h3(class="specialty-name") Diploma 1
                    h3(class="company-name") Sekolah Tinggi Tehnik Malang
                    p(class="prg-experience") Informatics Engineering
                div(class="experience-content")
                    div(class="period-experience")
                        img(src="/assets/themes/rohmanwebid/img/wec.png", alt="WEC Malang", width="110")
                    h3(class="specialty-name") Diploma 1
                    h3(class="company-name") Wearness Education Center Malang
                    p(class="prg-experience") Informatics Engineering
                div(class="experience-content")
                    div(class="period-experience", style="padding-top: 40px;padding-bottom: 40px;")
                        img(src="/assets/themes/rohmanwebid/img/spectrum.png", alt="spectrum.co.id", width="110")
                    h3(class="specialty-name") Mikrotik Profesional Training (MTCNA)
                    h3(class="company-name") Spectrum co id
                    p(class="prg-experience")