section(id="experience", class="section section-experience wow fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
    div(class="header-section")
        h2(class="h2-section") EXPERIENCE
    div(class="row")
        div(class="col-md-12 col-md-offset-1")
            span(class="icon-experience")
                i(class="fa fa-briefcase")
            div(class="all-experience hidden-xs show-sm show-md show-lg")
                div(class="experience-content")
                    span(class="period-experience") Mar 2017 - Current
                    h3(class="specialty-name") Fullstack Web Programmer
                    h3(class="company-name") PT. Ivonesia Solusi Data
                    p(class="prg-experience")
                        | Sampai saat ini saya masih diperusahaan ini, disini saya
                        | membuat, memperbaiki selaga sesuatu yang berhubungan dengan aplikasi yang saya buat
                        | dan bertanggung jawab atas kelancaran aplikasi pada client perusahaan.
                div(class="experience-content")
                    span(class="period-experience") Jan 2017 - Mar 2017
                    h3(class="specialty-name") Fullstack Web Programmer
                    h3(class="company-name") PT. Magicsoft Asia System Ltd
                    p(class="prg-experience")
                        | Diperusahaan ini saya bertanggung jawab dengan jalannya
                        | aplikasi yang saya dan tim buat, serta menangani berbagai ancaman dari kelemahan
                        | sistem.
                div(class="experience-content")
                    span(class="period-experience") Jun 2015 - Jan 2017
                    h3(class="specialty-name") DevOps Servers
                    h3(class="company-name") CV Surya Semesta Digital Media
                    p(class="prg-experience")
                        | Dikantor yang sama sy juga merangkap sebagai DevOps, dikarenakan website dan server yg semakin banyak
                        | sehingga sy harus bisa mulai dari instalasi sampai troubleshoot server.
                        | sebagai DevOps, sy tidak hanya mempunyai tanggung jawab di server, tp juga sebagai Database Administrator di beberapa server DB,
                        | sehingga sy bisa langsung mengetahui segala sesuatu yg terjadi pada server tsb.
                div(class="experience-content")
                    span(class="period-experience") Sept 2013 - Jan 2017
                    h3(class="specialty-name") Fullstack Developer
                    h3(class="company-name") CV Surya Semesta Digital Media
                    p(class="prg-experience")
                        | Memulai Karir didunia teknologi disini, belajar dan berkreasi
                        | didunia digital. Saya bertanggung jawab semua in/out data, mengatasi berbagai
                        | masalah sistem mulai dari kesiapan server sampai penanganan bug aplikasi website.
            //- div(class="row show-xs hidden-sm hidden-md hidden-lg pad15")
            //-     div(class="col-md-12 section section-about pad-t20 mg-t20 mg-b10")
            //-         span(class="period-experience mg-auto") Mar 2017 - Current
            //-         h3(class="specialty-name mg-t20") Backend Developer
            //-         h3(class="company-name") PT. Ivonesia Solusi Data
            //-         p(class="prg-experience")
            //-             | Sampai saat ini saya masih diperusahaan ini, disini saya
            //-             | membuat, memperbaiki selaga sesuatu yang berhubungan dengan aplikasi yang saya buat
            //-             | dan bertanggung jawab atas kelancaran aplikasi pada client perusahaan.
            //- div(class="row show-xs hidden-sm hidden-md hidden-lg pad15")
            //-     div(class="col-md-12 section section-about pad-t20 mg-t20 mg-b10")
            //-         span(class="period-experience mg-auto") Jan 2017 - Mar 2017
            //-         h3(class="specialty-name mg-t20") Fullstack Developer
            //-         h3(class="company-name") PT. Magicsoft Asia System Ltd
            //-         p(class="prg-experience")
            //-             | Diperusahaan ini saya bertanggung jawab dengan jalannya
            //-             | aplikasi yang saya dan tim buat, serta menangani berbagai ancaman dari kelemahan
            //-             | sistem.
            //- div(class="row show-xs hidden-sm hidden-md hidden-lg pad15")
            //-     div(class="col-md-12 section section-about pad-t20 mg-t20 mg-b10")
            //-         span(class="period-experience mg-auto") Sept 2013 - Jan 2017
            //-         h3(class="specialty-name mg-t20") Fullstack Developer
            //-         h3(class="company-name") CV Surya Semesta Digital Media
            //-         p(class="prg-experience")
            //-             | Memulai Karir didunia teknologi disini, belajar dan berkreasi
            //-             | didunia digital. Saya bertanggung jawab semua in/out data, mengatasi berbagai
            //-             | masalah sistem mulai dari kesiapan server sampai penanganan bug aplikasi website.