head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title About Me | rohmanweb
    link(rel="icon", type="image/png", sizes="32x32", href="/static/img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/static/img/icons/favicon-16x16.png")
    <!--[if IE]>
    link(rel="shortcut icon", href="/static/img/icons/favicon.ico")
    <![endif]-->
    link(rel="manifest", href="/static/manifest.json")
    meta(name="theme-color", content="#4DBA87")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="rohmanweb")
    link(rel="apple-touch-icon", href="/static/img/icons/apple-touch-icon-152x152.png")
    link(rel="mask-icon", href="/static/img/icons/safari-pinned-tab.svg" color="#4DBA87")
    meta(name="msapplication-TileImage", content="/static/img/icons/msapplication-icon-144x144.png")
    meta(name="msapplication-TileColor", content="#000000")
    link(rel="preload", href="/static/js/vendor.a4f68cef85730cd849c5.js", as="script")
    link(rel="preload", href="/static/js/app.e4d20273aa337dd503e3.js", as="script")
    link(rel="preload", href="/static/css/app.d59ba0fd74d32476ac62c6851f7e16e3.css" as="style")
    link(rel="preload", href="/static/js/manifest.2ae2e69a05c33dfc65f8.js", as="script")
    link(href="/static/css/app.d59ba0fd74d32476ac62c6851f7e16e3.css", rel="stylesheet")
    meta(name="description", content="rohmanwebid, need a profesional programmer? it's me.")
</head>