head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title About Me | rohmanweb
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/themes/rohmanwebid/img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/themes/rohmanwebid/img/icons/favicon-16x16.png")
    <!--[if IE]>
    link(rel="shortcut icon", href="/assets/themes/rohmanwebid/img/icons/favicon.ico")
    <![endif]-->
    meta(name="theme-color", content="#4DBA87")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="rohmanweb")
    link(rel="apple-touch-icon", href="/assets/themes/rohmanwebid/img/icons/apple-touch-icon-152x152.png")
    link(rel="mask-icon", href="/assets/themes/rohmanwebid/img/icons/safari-pinned-tab.svg" color="#4DBA87")
    meta(name="msapplication-TileImage", content="/assets/themes/rohmanwebid/img/icons/msapplication-icon-144x144.png")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="description", content="rohmanwebid, need a profesional programmer? it's me.")
    link(href="/assets/vendor/bootstrap-4/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/assets/themes/rohmanwebid/css/light.css")
    link(rel="stylesheet", href="/assets/themes/rohmanwebid/css/color.css")
    link(rel="stylesheet", href="/assets/themes/rohmanwebid/css/rohman-custom.css")
    link(rel="stylesheet", href="/assets/themes/rohmanwebid/css/rohman.css")
    link(href="/assets/vendor/fontawesome-4/css/font-awesome.min.css", rel="stylesheet")
</head>