section(id="skills" class="section section-skills fadeInUp" style="visibility: visible; animation-name: fadeInUp;")
    div(class="header-section")
        h2(class="h2-section") SKILLS
    div(class="row")
        div(class="col-md-5")
            div(class="professional-skills", style="margin-top: 13px;")
                div(class="title-skills")
                    h3 PROFESSIONAL SKILLS
                div(class="skill")
                    div(class="title-progress")
                        span(class="skill-name") Node Js - MongoDB
                        span(class="skill-value") 80
                    div(class="progress")
                        div(role="progressbar", aria-valuenow="80", aria-valuemin="0", aria-valuemax="100", class="progress-bar progress1", style="width: 80%;")
                div(class="skill")
                    div(class="title-progress")
                        span(class="skill-name") PHP - Mysql
                        span(class="skill-value") 90
                    div(class="progress")
                        div(role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", class="progress-bar progress1", style="width: 90%;")
                div(class="skill")
                    div(class="title-progress")
                        span(class="skill-name") JQuery
                        span(class="skill-value") 93
                    div(class="progress")
                        div(role="progressbar", aria-valuenow="93", aria-valuemin="0", aria-valuemax="100", class="progress-bar progress1", style="width: 93%;")
                div(class="skill")
                    div(class="title-progress")
                        span(class="skill-name") HTML &amp; CSS
                        span(class="skill-value") 70
                    div(class="progress")
                        div(role="progressbar", aria-valuenow="70", aria-valuemin="0", aria-valuemax="100", class="progress-bar progress1", style="width: 70%;")
                div(class="skill")
                    div(class="title-progress")
                        span(class="skill-name") Linux Server
                        span(class="skill-value") 90
                    div(class="progress")
                        div(role="progressbar", aria-valuenow="90", aria-valuemin="0", aria-valuemax="100", class="progress-bar progress1", style="width: 90%;")
        div(class="col-md-7")
            div(class="additional-skills")
                div(class="title-skills")
                    h3 OTHER SKILLS
                div(class="circle-progress")
                    div(class="row")
                        div(class="col-sm-4")
                            div(class="circle")
                                div(data-percent="90", class="chart", data-bar-color="#f35b25")
                                    div(class="inner-text", style="font-size: 9px;") 90%
                                div(class="name-circle")
                                    span Teamwork
                        div(class="col-sm-4")
                            div(class="circle")
                                div(data-percent="80" class="chart", data-bar-color="#f35b25")
                                    div(class="inner-text", style="font-size: 9px;") 80%
                                div(class="name-circle")
                                    span Creativity
                        div(class="col-sm-4")
                            div(class="circle")
                                div(data-percent="60", class="chart", data-bar-color="#f35b25")
                                    div(class="inner-text", style="font-size: 9px;") 60%
                                div(class="name-circle")
                                    span English
                div(class="other-skills")
                    div(class="row")
                        div(class="col-sm-6")
                            div(class="other")
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Vue JS
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Angular JS
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Codeigniter
                        div(class="col-sm-6")
                            div(class="other")
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Express JS
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Restify JS
                                div(class="skill")
                                    i(aria-hidden="true", class="fa fa-check-square-o")
                                    span Adonis JS