body
    noscript This is your fallback content in case JavaScript fails to load.

    div(id="app")
        div(style="margin-top: 90px;")
            include components/header.pug
            include components/hero.pug
            main(id="main")
                include components/about.pug
                include components/services.pug
                include components/team.pug
                include components/call.pug
                include components/contact.pug
            include components/footer.pug
