<template id="home.template">
  <ons-page>
    ons-toolbar(class="toolbar toolbar--material")
        div(class="toolbar__left toolbar--material__left", onclick="categories.open()")
            span(class="toolbar-button toolbar-button--material ripple")
                i(class="zmdi zmdi-menu")
        div(class="toolbar__center toolbar--material__center") Genderize
            
        div(class="toolbar__right toolbar--material__right")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-search")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-refresh")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-more-vert")
    ons-list(class="list __no_paddings", id="content_home")
    <ons-scroller style="min-height: 100%; width: 100%">
     pre
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
        | ...
    </ons-scroller>

  </ons-page>
</template>