section(id="about")
    div(class="container")
        div(class="row about-container")
            div(class="col-lg-6 content order-lg-1 order-2")
                h2(class="title") Sedikit Tentang Kami
                <p>
                    Kami merupakan sebuah perusahaan startup IT dibidang pendidikan dan service.
                    Kami mempunyai impian dimana tehnologi di indonesia tidak akan kalah dengan
                    yang ada diluar negeri, dan kami ingin turut mencerdaskan anak bangsa dibidang IT
                </p>
                div(class="icon-box wow fadeInUp")
                    div(class="icon")
                        i(class="fa fa-heart")
                    h4(class="title")
                        a(href="") Ketelitian
                    p(class="description") Kami mempunyai komitmen dalam mengerjakan sesuatu dengan Teliti
                div(data-wow-delay="0.2s", class="icon-box wow fadeInUp")
                    div(class="icon")
                        i(class="fa fa-american-sign-language-interpreting")
                    h4(class="title")
                        a(href="") Profesional
                    p(class="description") Team Kami selalu menjaga Profesionalitas dalam menjaga kepercayaan anda
                div(data-wow-delay="0.4s" class="icon-box wow fadeInUp")
                    div(class="icon")
                        i(class="fa fa-thumbs-up")
                    h4(class="title")
                        a(href="") Percaya
                    p(class="description") Kami Percaya Bahwa Kami yang terbaik dan memberikan yang terbaik diantara yang lain
            div(class="col-lg-6 background order-lg-2 order-1 wow fadeInRight")