section(id="call-to-action")
    div(class="container wow fadeIn")
        div(class="row")
            div(class="col-lg-9 text-center text-lg-left")
                h3(class="cta-title") Hubungi Kami Sekarang
                p(class="cta-text") Masalah IT anda belum terselesaikan? Jangan tunda lagi untuk menghubungi kami, segera konsultasikan masalah IT anda, Kami Siap membantu anda
            div(class="col-lg-3 cta-btn-container text-center")
                a(href="#contact", class="cta-btn align-middle") Call