footer(id="footer")
    div(class="footer-top")
        div(class="container")
    div(class="container")
        div(class="copyright") © Copyright <strong> Regna</strong>. All Rights Reserved
        div(class="credits") Bootstrap Templates by
            a(href="https://bootstrapmade.com/") BootstrapMade