header(id="header")
    div(class="container")
        div(id="logo", class="pull-left")
            a(href="#hero", style="font-family: Poppins, sans-serif; font-size: 30px;") Malangsoftware
        nav(id="nav-menu-container")
            ul(class="nav-menu")
                li(class="menu-active")
                    a(href="#hero") Home
                li
                    a(href="#about") About Us
                li
                    a(href="#services") Products
                li
                    a(href="#team") Team
                li
                    a(href="#contact") Contact Us