head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Malangsoftware
    meta(name="keywords", content="malangsoftware")
    meta(name="description", content="Temukan solusi IT anda bersama kami, bersama Malangsoftware pekerjaan anda lebih mudah dan cepat selesai.")
    //- link(rel="icon", type="image/png", sizes="32x32", href="/assets/themes/malangsoftware/img/icons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/themes/malangsoftware/img/icons/favicon.ico")
    <!--[if IE]>
    link(rel="shortcut icon", href="/assets/themes/malangsoftware/img/icons/favicon.ico")
    <![endif]-->
    link(rel="manifest", href="/assets/themes/malangsoftware/manifest.json")
    meta(name="theme-color", content="#4DBA87")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="hello")
    link(rel="apple-touch-icon", href="/assets/themes/malangsoftware/img/icons/apple-touch-icon-152x152.png")
    link(rel="mask-icon", href="/assets/themes/malangsoftware/img/icons/safari-pinned-tab.svg", color="#4DBA87")
    meta(name="msapplication-TileImage", content="/assets/themes/malangsoftware/img/icons/msapplication-icon-144x144.png")
    meta(name="msapplication-TileColor", content="#000000")
    //- link(rel="preload", href="/assets/themes/malangsoftware/js/vendor.71aa93f388b664069137.js", as="script")
    //- link(rel="preload", href="/assets/themes/malangsoftware/js/app.c89f3db524b287444c5d.js", as="script")
    //- link(rel="preload", href="/assets/themes/malangsoftware/css/app.89bf3461c60799d80e953d6e04e9b7bd.css" as="style")
    //- link(rel="preload", href="/assets/themes/malangsoftware/js/manifest.2ae2e69a05c33dfc65f8.js", as="script")
    link(href="/assets/vendor/bootstrap-3/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/themes/malangsoftware/css/regna.css", rel="stylesheet")
    link(href="/assets/themes/malangsoftware/css/custom.css", rel="stylesheet")
    link(href="/assets/vendor/fontawesome-4/css/font-awesome.min.css", rel="stylesheet")