section(id="services")
    div(class="container wow fadeIn")
        div(class="section-header")
            h3(class="section-title") Produk dan Service
            p(class="section-description") Kami memiliki beberapa Produk dan Service Untuk Kebutuhan IT anda
        div(class="row")
            div(data-wow-delay="0.2s" class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-desktop")
                    h4(class="title")
                        a(href="") PC Set
                    p(class="description") Pemasangan PC Set (siap pakai) dengan berbagai pilihan harga, cocok untuk perkantoran baik skala kecil maupun besar
            div(data-wow-delay="0.4s", class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-graduation-cap")
                    h4(class="title")
                        a(href="") Kursus Komputer
                    p(class="description") Kami menyiapkan beberapa kelas komputer seperti MS. Office, Windows, Linux, Server, Dasar Pemrograman (PHP, Nodejs, Html, CSS)
            div(data-wow-delay="0.6s" class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-cloud")
                    h4(class="title")
                        a(href="") Cloud Management
                    p(class="description") Cloud Management merupakan hal penting dalam mengoptimalkan website anda serta support dari kami 7/24jam
            div(data-wow-delay="0.2s", class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-code")
                    h4(class="title")
                        a(href="") Website Builder
                    p(class="description") Kami Mempunyai Team khusus untuk membangun sebuah website seperti Company Profile, Web App, Web Service
            div(data-wow-delay="0.4s" class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-bullhorn")
                    h4(class="title")
                        a(href="") Campaign
                    p(class="description") Kami menawarkan kepada anda untuk dapat lebih memaksimalkan penjualan produk anda dengan service campaign dari kami
            div(data-wow-delay="0.6s" class="col-lg-4 col-md-6 wow fadeInUp")
                div(class="box")
                    div(class="icon")
                        a(href="")
                            i(class="fa fa-database")
                    h4(class="title")
                        a(href="") Database Maintener
                    p(class="description") Kami mempunyai Staf Ahli untuk Database Website Anda, sehingga anda lebih mudah untuk memanage data anda