section(id="team")
    div(class="container wow fadeInUp")
        div(class="section-header")
            h3(class="section-title") Team
            p(class="section-description") Kami memiliki team yang solid dengan berbagai keahlian dan kapasitas yang memadai
        div(class="row")
            div(class="col-lg-3 col-md-6")
                div(class="member")
                    div(class="pic")
                        img(src="/assets/themes/malangsoftware/img/team/rohman.png", alt="")
                    h4 A. Abdul Rohman
                        span CEO &amp; CTO
                    div(class="social")
                        a(href="")
                            i(class="fa fa-twitter")
                            a(href="", class="fa fa-facebook")
                            a(href="")
                                i(class="fa fa-google-plus")
                        a(href="")
                            i(class="fa fa-linkedin")
            div(class="col-lg-3 col-md-6")
                div(class="member")
                    div(class="pic")
                        img(src="/assets/themes/malangsoftware/img/team/tiara.png", alt="")
                    h4 Tiara P. Ma'aruf
                        span Product Manager &amp; Executive Marketing
                    div(class="social")
                        a(href="")
                            i(class="fa fa-twitter")
                            a(href="", class="fa fa-facebook")
                            a(href="")
                                i(class="fa fa-google-plus")
                        a(href="")
                            i(class="fa fa-linkedin")
            div(class="col-lg-3 col-md-6")
                div(class="member")
                    div(class="pic")
                        img(src="/assets/themes/malangsoftware/img/team/zaqi.png", alt="")
                    h4 M. Maulidul Arzaqi
                        span Web Developer
                    div(class="social")
                        a(href="")
                            i(class="fa fa-twitter")
                            a(href="", class="fa fa-facebook")
                            a(href="")
                                i(class="fa fa-google-plus")
                        a(href="")
                            i(class="fa fa-linkedin")
            div(class="col-lg-3 col-md-6")
                div(class="member")
                    div(class="pic")
                        img(src="/assets/themes/malangsoftware/img/team/deri.png", alt="")
                    h4 Deri &amp; Mundir
                        span Sales &amp; Support
                    div(class="social")
                        a(href="")
                            i(class="fa fa-twitter")
                            a(href="", class="fa fa-facebook")
                            a(href="")
                                i(class="fa fa-google-plus")
                        a(href="")
                            i(class="fa fa-linkedin")