<template id="toolbars.coupons.template">
  <ons-page>
    div(class="toolbar toolbar--material")
        div(class="toolbar__left toolbar--material__left", onclick="components.leftmenu.open()")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-menu")
        div(class="toolbar__center toolbar--material__center") Kupon
            
        div(class="toolbar__right toolbar--material__right")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-search")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-favorite")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-more-vert")
  </ons-page>
</template>