<template id="home.template">
  <ons-page>
    div(class="toolbar toolbar--material")
        div(class="toolbar__left toolbar--material__left", onclick="components.leftmenu.open()")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-menu")
        div(class="toolbar__center toolbar--material__center") Home
            
        div(class="toolbar__right toolbar--material__right")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-search")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-favorite")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-more-vert")
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</template>