<template id="products.template">
  <ons-page>
    ons-toolbar(class="toolbar toolbar--material")
        div(class="toolbar__left toolbar--material__left", onclick="categories.open()")
            span(class="toolbar-button toolbar-button--material ripple")
                i(class="zmdi zmdi-menu")
        div(class="toolbar__center toolbar--material__center") Products
            
        div(class="toolbar__right toolbar--material__right")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-search")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-sort")
            span(class="toolbar-button toolbar-button--material")
                i(class="zmdi zmdi-more-vert")
    ons-list(class="list __no_paddings", id="products_list_items")

    div(style="width: 100%;background: #fff;")
        button(class="button--material--flat", style="width: 100%;", onclick="loadmore();" id="loadmore") more...
    div(style="height: 50px;width: 100%;")
        
  </ons-page>
</template>