<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="assets/vendor/bootstrap-3/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/themes/store/css/style.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
        link(rel="stylesheet", href="assets/themes/store/ItemSlider/css/main-style.css")
        script(src="assets/vendor/jquery-1/jquery.js")
    body
        include components/nav1.pug


    script(src="assets/vendor/bootstrap-3/js/bootstrap.min.js")
    script(src="assets/themes/store/ItemSlider/js/modernizr.custom.63321.js")
    script(src="assets/themes/store/ItemSlider/js/jquery.catslider.js")
